body {  
    font-family: Arial, sans-serif;
}

header, section {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;


}

header {
    background-color: #666363;
}

section h2 {
    background-color: #d0d0d0;
    padding: 5px;
}

section h3 {
    background-color: #e0e0e0;
    padding: 5px;
}

.pantry, .freezer {
    background-color: #f9f9f9;
}


.canned, .dry-goods, .veggies, .snacks {
    margin: 10px 0;
}

.canned, .photo1 {
    display: inline-block;
}

.dry-goods, .photo2 {
    
    display: inline-block;
}



.photo {
    display: inline-block;
    margin: 10px;
    border: 1px solid #ddd;
    padding: 10px;
}
